<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">
        <span>{{ $.Site.Copyright | safeHTML }}</span>
    {{ else }}
      <div class="copyright">
        <span>Powered by <a href="https://banano.cc">Banano</a> and <a href="https://github.com/Kirby1997/BananoCraft">Kirby's BananoEconomy Plugin</a></span>
    {{ end }}
        <span>:: <a href="https://chat.banano.cc">Ban Fam Best Fam</a></span>
      </div>
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{ if $.Site.Params.showLanguageSelector }}
  <script src="{{ "assets/languageSelector.js" | absURL }}"></script>
{{ end }}

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
